aiohttp==3.6.2
aiohttp-proxy==0.1.2
APScheduler==3.6.3
Click==7.0
fake-useragent==0.1.11
redis==3.0.1
redis-py-cluster==2.0.0
requests==2.23.0
Scrapy==1.8.0
git+https://github.com/geebytes/scrapy_redis_cluster.git@master
six==1.14.0
Twisted==19.10.0
tzlocal==2.0.0
urllib3==1.26.5
tornado==6.0.4
